* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', Arial, sans-serif;
  background: #000;
}

p {
  color: #fff;
}

.js .js-scroll {
  opacity: 0;
  transition: 0.4s;
  transform: translate3d(-30px, 0, 0);
}

.js .js-scroll.active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
