.header-text {
  font-family: 'Futura', Arial, Helvetica, sans-serif;
  margin-top: 4rem;
  margin-left: 4rem;
  margin-bottom: 4rem;
}

.uper {
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
}

.lower {
  text-transform: lowercase;
  color: #fff;
  font-size: 1.5rem;
}
