.header-text {
  font-family: 'Futura', Arial, Helvetica, sans-serif;
  margin-top: 4rem;
  margin-left: 4rem;
  margin-bottom: 4rem;
}

.uper {
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
}

.lower {
  text-transform: lowercase;
  color: #fff;
  font-size: 1.5rem;
}

@media (max-width: 480px) {
  .header-text {
    margin-bottom: 1.2rem;
    margin-left: 2rem;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .header-text {
    margin-bottom: 1.2rem;
    margin-left: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-text {
    margin-bottom: 1rem;
  }
}
