.middle {
  display: flex;
  justify-content: center;
  margin-top: 8rem;
  position: relative;
}

.middle p::before {
  content: '';
  display: block;
  background: #fff;
  width: 625px;
  height: 2px;
  position: absolute;
  top: 20px;
  left: 2px;
}

.middle p::after {
  content: '';
  display: block;
  background: #fff;
  width: 625px;
  height: 2px;
  position: absolute;
  top: 20px;
  right: 2px;
}

@media (max-width: 480px) {
  .middle {
    margin-top: 2.3rem;
  }
  .middle p {
    font-size: 1.5rem;
    text-decoration: underline;
  }
  .middle p::before {
    display: none;
  }
  .middle p::after {
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .middle {
    margin-top: 2.3rem;
  }
  .middle p {
    font-size: 2rem;
  }
  .middle p::before {
    width: 125px;
    top: 25px;
  }
  .middle p::after {
    width: 125px;
    top: 25px;
  }
}

@media (min-width: 768px) and (max-width: 1113px) {
  .middle {
    margin-top: 2.3rem;
  }
  .middle p {
    font-size: 3rem;
  }
  .middle p::before {
    width: 255px;
    top: 35px;
  }
  .middle p::after {
    width: 255px;
    top: 35px;
  }
}

@media (min-width: 1113px) and (max-width: 1199px) {
  .middle {
    margin-top: 8rem;
  }
  .middle p {
    font-size: 3rem;
  }
  .middle p::before {
    width: 390px;
    top: 35px;
  }
  .middle p::after {
    width: 390px;
    top: 35px;
  }
}

@media (min-width: 1200px) and (max-width: 1919px) {
  .middle p {
    font-size: 3rem;
  }
  .middle p::after {
    width: 530px;
    top: 35px;
  }
  .middle p::before {
    width: 530px;
    top: 35px;
  }
}
