.container {
  margin-top: 4rem;
}

.meta {
  text-align: left;
  margin-bottom: 10px;
}

.division-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.content {
  text-align: left;
}

.content h1 {
  margin-bottom: 8px;
  font-size: 2.5rem;
}

.icones-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.7rem;
  position: relative;
}

.icones-links::before {
  content: '';
  display: block;
  width: 950px;
  height: 2px;
  background: #232323;
  position: absolute;
  top: 47px;
}

.icones-links::after {
  content: '';
  display: block;
  width: 950px;
  height: 2px;
  background: #232323;
  position: absolute;
  bottom: 47px;
}

.bynyx {
  display: flex;
  gap: 10px;
  align-items: center;
}

.icones {
  display: flex;
  gap: 30px;
  align-items: center;
}

@media (max-width: 480px) {
  .container {
    margin-top: 2rem;
  }
  /* Texto e ícones */
  .content h1 {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  .meta p {
    font-size: 0.9rem;
  }
  .icones-links {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
  }
  .bynyx {
    margin-bottom: 1rem;
  }
  .icones {
    gap: 40px;
  }
  .icones-links::before,
  .icones-links::after {
    display: none; /* Remove as linhas no mobile */
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .container {
    margin-top: 2rem;
  }
  /* Texto e ícones */
  .content h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  .meta p {
    font-size: 0.9rem;
  }
  .icones-links {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
  }
  .bynyx {
    margin-bottom: 1rem;
  }
  .icones {
    gap: 40px;
  }
  .icones-links::before,
  .icones-links::after {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    margin-top: 1rem;
  }
}
