.limit {
  max-width: 950px;
  margin-top: 3rem;
}

.limit-text {
  margin-top: 2rem;
  position: relative;
  max-width: 950px;
}

.image img {
  width: 950px;
  margin-top: 2rem;
}

.bottom {
  margin-bottom: 15px;
}

.detail::before {
  content: '';
  display: block;
  width: 2px;
  height: 41px;
  background: #fff;
  position: absolute;
  left: -10px;
  top: 2px;
}

@media (max-width: 480px) {
  .detail::before {
    display: none;
  }
  /* Imagem */
  .image img {
    width: 100%;
    max-width: 100%;
    margin-top: 1.5rem;
  }
  /* Texto no limite */
  .limit-text {
    margin-top: 1rem;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .detail::before {
    display: none;
  }
  /* Imagem */
  .image img {
    width: 100%;
    max-width: 100%;
    margin-top: 1.5rem;
  }
  /* Texto no limite */
  .limit-text {
    margin-top: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .detail::before {
    display: none;
  }
  /* Imagem */
  .image img {
    width: 100%;
    max-width: 100%;
    margin-top: 1.5rem;
  }
  /* Texto no limite */
  .limit-text {
    margin-top: 1rem;
  }
}
